---
import Book from "../components/Book.astro";
import ComicPhoto from "../components/ComicPhoto.astro";
import Page from "../components/Page.astro";
import ProjectCard from "../components/ProjectCard.astro";
import TabPanel from "../components/TabPanel.astro";
import "../styles/global.css";
import ICON_ASTRO from "../assets/icon/orange-astro.svg";
import ICON_JAVA from "../assets/icon/java.svg";
import ICON_TS from "../assets/icon/ts.svg";
import ICON_REACT from "../assets/icon/react.svg";
import ICON_JS from "../assets/icon/js.svg";
import ICON_NODE from "../assets/icon/node.svg";
import ICON_SQL from "../assets/icon/sql.svg";
import ICON_MONGO from "../assets/icon/mongo.svg";
import ICON_RUST from "../assets/icon/rust.svg";
import { Image } from "astro:assets";
import noirmale2 from "../assets/noirmale2.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="portfolio" content="myname portfolio" />
    <meta name="author" content="myname" />
    <meta name="creator" content="@Garkatron @Deus" />

    <link
      rel="preload"
      as="image"
      href="/ComicPortfolio/assets/background/paper_texture310_black.jpg"
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="image"
      href="/ComicPortfolio/assets/background/paper_texture310.jpg"
      fetchpriority="high"
    />
    <title>Portfolio</title>
  </head>
  <style>
    .header {
      min-height: 70px;
      clip-path: polygon(0 -2%, 100% 0, 100% 83%, 0 100%);
    }
  </style>
  <body class="doodle container mx-auto p-4">
    <Book>
      <Page index={1} totalCards={6}>
        <div slot="front" class="flex flex-col w-full h-full">
          <Image
            src={noirmale2}
            alt="ProfilePhoto"
            width={600}
            height={790}
            loading="eager"
            fetchpriority="high"
            style={"height: 100%; object-fit: cover;"}
          />
        </div>
        <div slot="back" class="flex flex-col w-full h-full">
          <div class="flex w-full has-comic-bg">
            <h2 class="text-2xl font-bold mb-2" style="margin-left: 15px;">
              Contact Me
            </h2>
          </div>
          <div class="relative p-4 mb-4">
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
              <form action="#" class="space-y-8">
                <div>
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Your email</label
                  >
                  <input
                    type="email"
                    id="email"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                    placeholder="name@flowbite.com"
                    required
                  />
                </div>
                <div>
                  <label
                    for="subject"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Subject</label
                  >
                  <input
                    type="text"
                    id="subject"
                    class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                    placeholder="Let us know how we can help you"
                    required
                  />
                </div>
                <div class="sm:col-span-2">
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                    >Your message</label
                  >
                  <textarea
                    id="message"
                    rows="6"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Leave a comment..."></textarea>
                </div>
                <button
                  type="submit"
                  class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                  >Send message</button
                >
              </form>
            </div>
          </div>
        </div>
      </Page>

      <Page index={2} totalCards={6}>
        <div slot="front" class="flex flex-col w-full h-full">
          <div class="h-2/3 w-full bg-cover bg-center">
            <ComicPhoto class="object-cover" />
          </div>
          <div
            class="h-1/3 w-full p-6 flex flex-col justify-center items-center"
          >
            <h1
              class="text-center text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold"
            >
              Hi! I'm [YourName]
            </h1>
            <TabPanel
              initialTab="about"
              tabs={[
                {
                  id: "default",
                  label: "About",
                  content: "Lorem ipsum1...",
                },
                {
                  id: "other",
                  label: "Other",
                  content: "Lorem ipsum2...",
                },
                {
                  id: "other2",
                  label: "Other2",
                  content: "Lorem ipsum3...",
                },
              ]}
            />
          </div>
        </div>
        <div slot="back" class="flex flex-col w-full h-full">
          <div class="header has-comic-bg">
            <h2 class="text-2xl font-bold mb-2" style="margin-left: 15px;">
              Featured Projects
            </h2>
          </div>
          <div class="w-full grid grid-cols-2 grid-rows-5 gap-4">
            <ProjectCard
              src="https://placehold.co/400x400"
              title="Project1"
              description="Description."
              icons={[
                { src: ICON_REACT, alt: "React" },
                { src: ICON_TS, alt: "TS" },
              ]}
            />
            <ProjectCard
              src="https://placehold.co/400x400"
              title="Project2"
              description="Description."
              icons={[
                { src: ICON_JAVA, alt: "Java" },
                { src: ICON_SQL, alt: "SQL" },
              ]}
            />
          </div>
        </div>
      </Page>

      <Page index={3} totalCards={6}>
        <div slot="front" class="flex flex-col w-full h-full">
          <div class="header has-comic-bg">
            <h2 class="text-2xl font-bold mb-2" style="margin-left: 15px;">
              Projects
            </h2>
          </div>
          <div
            class="grid grid-cols-4 grid-rows-3 gap-2 w-full h-full p-2 bg-gray-900"
          >
            <Image
              width={200}
              height={100}
              src="https://placehold.co/200x200"
              alt="Astro"
              class="w-16 h-16 object-cover"
            />
            <Image
              width={200}
              height={100}
              src="https://placehold.co/200x200"
              alt="Astro"
              class="w-16 h-16 object-cover"
            />
            <Image
              width={200}
              height={100}
              src="https://placehold.co/200x200"
              alt="Astro"
              class="w-16 h-16 object-cover"
            />
            <Image
              width={200}
              height={100}
              src="https://placehold.co/200x200"
              alt="Astro"
              class="w-16 h-16 object-cover"
            />
          </div>
        </div>
        <div slot="back" class="flex flex-col w-full h-full">
          <div class="header has-comic-bg">
            <h2 class="text-2xl font-bold mb-2 ml-4">Tech Stack</h2>
          </div>

          <div class="flex flex-wrap gap-6 justify-center items-stretch p-6">
            <fieldset
              class="flex flex-col justify-between items-center flex-1 p-4 border border-gray-200 rounded-2xl shadow-sm bg-white min-w-[250px]"
            >
              <h3 class="text-lg font-semibold text-gray-700 self-start">
                Frontend
              </h3>
              <div class="flex flex-wrap justify-center gap-4">
                <Image
                  src={ICON_ASTRO}
                  alt="Astro"
                  width={80}
                  height={80}
                  class="w-16 h-16 grayscale hover:grayscale-0 hover:scale-110 transition"
                />
                <Image
                  src={ICON_REACT}
                  alt="React"
                  width={80}
                  height={80}
                  class="w-16 h-16 grayscale hover:grayscale-0 hover:scale-110 transition"
                />
                <Image
                  src={ICON_TS}
                  alt="TypeScript"
                  width={80}
                  height={80}
                  class="w-16 h-16 grayscale hover:grayscale-0 hover:scale-110 transition"
                />
                <Image
                  src={ICON_JS}
                  alt="JavaScript"
                  width={80}
                  height={80}
                  class="w-16 h-16 grayscale hover:grayscale-0 hover:scale-110 transition"
                />
              </div>
            </fieldset>

            <fieldset
              class="flex flex-col justify-between items-center flex-1 p-4 border border-gray-200 rounded-2xl shadow-sm bg-white min-w-[250px]"
            >
              <h3 class="text-lg font-semibold text-gray-700 self-start">
                Backend
              </h3>
              <div class="flex justify-center">
                <Image
                  src={ICON_NODE}
                  alt="Node.js"
                  width={80}
                  height={80}
                  class="w-16 h-16 grayscale hover:grayscale-0 hover:scale-110 transition"
                />
              </div>
            </fieldset>

            <fieldset
              class="flex flex-col justify-between items-center flex-1 p-4 border border-gray-200 rounded-2xl shadow-sm bg-white min-w-[250px]"
            >
              <h3 class="text-lg font-semibold text-gray-700 self-start">
                Bases de Datos
              </h3>
              <div class="flex flex-wrap justify-center gap-4">
                <Image
                  src={ICON_SQL}
                  alt="SQL"
                  width={80}
                  height={80}
                  class="w-16 h-16 grayscale hover:grayscale-0 hover:scale-110 transition"
                />
                <Image
                  src={ICON_MONGO}
                  alt="MongoDB"
                  width={80}
                  height={80}
                  class="w-16 h-16 grayscale hover:grayscale-0 hover:scale-110 transition"
                />
              </div>
            </fieldset>

            <fieldset
              class="flex flex-col justify-between items-center flex-1 p-4 border border-gray-200 rounded-2xl shadow-sm bg-white min-w-[250px]"
            >
              <h3 class="text-lg font-semibold text-gray-700 self-start">
                Otros
              </h3>
              <div class="flex justify-center">
                <Image
                  src={ICON_JAVA}
                  alt="Java"
                  width={80}
                  height={80}
                  class="w-16 h-16 grayscale hover:grayscale-0 hover:scale-110 transition"
                />
              </div>
            </fieldset>
          </div>
        </div>
      </Page>

      <Page index={4} totalCards={6}>
        <div slot="front" class="flex flex-col w-full h-full">
          <div class="header has-comic-bg">
            <h2 class="text-2xl font-bold mb-2" style="margin-left: 15px;">
              Formation
            </h2>
          </div>
          <blockquote>
            <div class="p-6 flex flex-col gap-4">
              <p>A</p>
              <p>B</p>
            </div>
          </blockquote>
        </div>
        <div slot="back" class="flex flex-col w-full h-full">
          <div class="header has-comic-bg">
            <h2 class="text-2xl font-bold mb-2" style="margin-left: 15px;">
              JOB / PRACTICES
            </h2>
          </div>
          <div class="p-6 flex flex-col gap-4">
            <blockquote>
              <p>A</p>
              <p>B</p>
            </blockquote>
          </div>
        </div>
      </Page>

      <Page index={5} totalCards={6}>
        <div slot="front" class="flex flex-col w-full h-full">
          <div class="header has-comic-bg">
            <h2 class="text-2xl font-bold mb-2" style="margin-left: 15px;">
              Achievements
            </h2>
          </div>
          <ul class="list-disc list-inside">
            <li>A</li>
            <li>B</li>
            <li>C</li>
          </ul>
        </div>
        <div slot="back" class="flex flex-col w-full h-full"></div>
      </Page>

      <!-- Página 7: Contacto -->
      <Page index={6} totalCards={6}>
        <div slot="front" class="flex flex-col w-full h-full"></div>
        <div slot="back" class="flex flex-col w-full h-full"></div>
      </Page>
    </Book>
  </body>
</html>
